*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-image: url(https://wallpapercave.com/wp/wp3738704.jpg);
    background-size:cover;
    background-attachment:scroll;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

    
}

.container{
    background-color: white;
    width: 50rem;
    height:fit-content;
    border-radius: 15px;
    border:none;
    outline: none;
    padding: 2.5rem  1rem 2.5rem 1rem;
    margin: 5rem 0 5rem 0;
    display: flex;
    flex-direction: column;
    
}

input {
    font-size: 15px;
    padding: 7px;
    border: 1px solid rgb(231, 229, 229);
    outline: none;
    border-radius: 5px;
}

.block {
    font-size: 15px;
    padding: 7px;
    border: 1px solid rgb(231, 229, 229);
    outline: none;
    border-radius: 5px;
    display: block;
}

label {
    line-height: 3rem;
}

.p_InFurtherInfo{
    padding: 5rem;
}

.btn {
    position: relative;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    width: 30%;
    left: 16rem;
    background-color: brown;
    box-shadow: 1px 1px rgb(0, 0, 0 , 20%),
    2px 2px rgb(0, 0, 0 , 18%),
    3px 3px rgb(0, 0, 0  ,16%),
    4px 4px rgb(0, 0, 0 , 14%),
    5px 5px rgb(0, 0, 0 , 12%),
    6px 6px rgb(0, 0, 0 , 10%),
    7px 7px rgb(0, 0, 0 ,8%),
    8px 8px rgb(0, 0, 0, 6%),
    9px 9px rgb(0, 0, 0 , 4%),
    10px 10px rgb(0, 0, 0 , 2%);
}

.btn:hover{
    top: 0.1rem;
    left: 16.1rem;
    background-color: rgb(134, 34, 34);
    box-shadow: 1px 1px rgb(0, 0, 0 , 20%),
    2px 2px rgb(0, 0, 0 , 18%),
    3px 3px rgb(0, 0, 0  ,16%),
    4px 4px rgb(0, 0, 0 , 14%),
    5px 5px rgb(0, 0, 0 , 12%);
}

.btn:active{
    top: 0.2rem;
    left: 16.2rem;
    background-color: rgb(110, 28, 28);
    box-shadow: 1px 1px rgb(0, 0, 0 , 6%);
}



